.todo__item input:checked ~ .todo__item__text {
  text-decoration: line-through;
  color: #adacad;
}
.todo__item {
  min-height: 50px;
  border-bottom: inset 1px #e4e2e4;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0 20px;
}
.todo__item__text {
  word-break: break-all;
  flex-grow: 1;
  text-align: left;
  padding-bottom: 5px;
  margin: 5px 0;
  white-space: break-spaces;
}
.todo__item svg {
  flex-shrink: 0;
}
.todo__item input {
  width: 100%;
  height: 25px;
  outline: none;
  border-top-style: unset;
  border-left-style: unset;
  border-right-style: unset;
  border-bottom: inset 1px #e4e2e4;
  font-size: 17px;
  margin: 0 5px;
  color: #6d6c6d;
}
.todo__item:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: var(--selection-width);
  height: var(--selection-height);
  background: rgb(123, 34, 195);
  background: linear-gradient(0deg, rgba(123, 34, 195, 1) 0%, rgba(45, 253, 79, 1) 100%);
}
:root {
  --selection-width: 0px;
  --selection-height: 0px;
}
